/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap");

/* COLOR PALETTE */
:root {
    --white: #ffffff;
    --wh-op1: #ffffffd0;
    --wh-op2: #ffffffbb;
    --neutral: #eedfda;
    --lighter-gray: #303030;
    --gray: #252525;
    --black: #15141a;
    --accent: #fabd2f;
    --yellow: #cda54d;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Scroll bar */
* {
    scrollbar-color: var(--lighter-gray) var(--black);
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: var(--black);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--lighter-gray);
}

/* DEFAULT STYLING */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Fira Sans", sans-serif;
    color: var(--white);
    background-color: var(--black);
}

h1,
h2 {
    font-weight: 300;
}

p {
    font-weight: 100;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    line-height: 1.4rem;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

a {
    text-decoration: var(--white);
    color: inherit;
}

a:focus {
    border: 3px solid var(--white);
}

address {
    font-style: normal;
}

abbr {
    text-decoration: none;
}

/* SKIP NAVIGATION */
.a11y-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 2rem;
    text-align: center;
    transform: translateY(-120%);
    background-color: var(--white);
    transition: transform 0.2s ease;
    color: var(--black);
    z-index: 9999;
}

.a11y-nav:is(:focus, :hover) {
    transform: translateY(0);
}

/* HEADER */
.primary-header {
    padding: 2rem;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 2rem;
}

/** Navigation **/
.primary-nav a {
    text-transform: lowercase;
    font-weight: 100;
}

/* MAIN */
section:not(.hero-section) {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-container {
    max-width: 56rem;
    width: 100%;
    margin: auto;
}

.section-title {
    display: flex;
    padding: 2rem 0;
}

.section-subtitle {
    padding: 0 2rem;
}

.left-hr {
    padding-left: 2rem;
}

.left-hr::after {
    content: "";
    display: inline-flex;
    height: 1px;
    flex: 1;
    background-color: var(--accent);
    margin: 15px 0 0 10px;
    z-index: -1;
}

.right-hr {
    padding-right: 2rem;
}

.right-hr::before {
    content: "";
    display: inline-flex;
    height: 1px;
    flex: 1;
    background-color: var(--accent);
    margin: 15px 10px 0 0;
}

.right-hr + p {
    text-align: end;
}

/** Hero section **/
.hero-section {
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
}

.hero-section h1 {
    font-size: clamp(2.3rem, 5vw, 4rem);
    color: var(--wh-op1);
}

.hero-section p {
    color: var(--wh-op2);
}

.hero-section u {
    color: var(--white);
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent);
    text-underline-offset: 0.13em;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
}
.hero-section header {
    padding: 2rem;
    grid-row: 1/7;
    grid-column: 1/2;
}
.style-banner {
    grid-row: 9/-1;
    grid-column: 1/2;
    background-color: var(--neutral);
    background-image: url(../img/rain.svg);
    background-attachment: fixed;
}
.portrait-container {
    grid-row: 7/11;
    grid-column: 1/2;
    justify-self: center;
    max-width: 16rem;
    width: 100%;
    aspect-ratio: 1;
    z-index: 2;
    position: relative;
}
.portrait-container .picture {
    background-color: var(--accent);
    background-image: url(../img/propic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.portrait-container .outline {
    border: 1px solid var(--accent);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}

/** About section **/
.tech-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    list-style: square;
    list-style-image: url(../img/list-icon.png);
}

/** Work section **/
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 1rem;
    place-content: center;
}

.projects-list li {
    height: 100%;
}

.project-card {
    padding: 1rem;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--gray);
}

.project-card:hover {
    background-color: var(--lighter-gray);
}

.project-card-title a::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0 -2px 5px;
    background-image: url(../img/external-link.svg);
    background-size: cover;
    content: "";
}

.project-card-tech-list {
    font-size: 0.8rem;
    color: var(--wh-op2);
}

/** Contacts section **/
.contact-section {
    text-align: center;
}

.contact-section h3 {
    font-weight: 200;
    color: var(--white);
}

.contact-section ul {
    justify-content: center;
}

/* FOOTER */
.primary-footer {
    padding: 1rem;
    text-align: center;
}

.primary-footer a {
    padding: 0;
    font-weight: 600;
}

/* UTILITY CLASSES */
.container {
    padding: 2rem;
}

.button {
    padding: 1rem;
    margin: 2rem auto 8rem;
    border: 2px solid var(--neutral);
    color: var(--neutral);
    display: block;
    max-width: 10rem;
    text-align: center;
    position: relative;
    transition: all 0.1s ease;
}
.button::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: var(--accent);
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
}
.button:hover {
    color: var(--black);
    border-color: #fff0;
    outline: 1px solid var(--accent);
}
.button:hover::before {
    width: 100%;
}

.link {
    border-bottom: 2px solid var(--neutral);
}
.link:hover {
    border: none;
}

/* DESKTOP */
@media screen and (min-width: 56rem) {
    p {
        line-height: 1.8rem;
    }

    .link {
        font-size: 1.2rem;
    }

    /* HEADER */
    .primary-header {
        padding: 2rem 5rem 0;
    }

    /** Navigation **/
    .primary-nav a {
        color: var(--black);
        z-index: 1000;
        position: relative;
        border-color: #15141a99;
    }

    /* MAIN */
    .section-title {
        font-size: 2.5rem;
    }

    .left-hr::after {
        margin: 25px 0 0 10px;
    }

    .right-hr::before {
        margin: 25px 10px 0 0;
    }

    /** Hero section **/
    .hero-grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        margin-top: -3rem;
    }
    .hero-section header {
        grid-column: 1/7;
        grid-row: 1/1;
        padding: 2rem 0 2rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .style-banner {
        grid-column: 9/-1;
        grid-row: 1/1;
        margin-top: -3rem;
        margin-bottom: -5.7rem;
    }
    .portrait-container {
        grid-column: 7/11;
        grid-row: 1/1;
        align-self: center;
        max-width: 22rem;
    }
    /* Work section */
    .tech-list {
        max-width: 60%;
    }
    /** Contacts section **/
    .contact-section h3 {
        font-size: 2rem;
    }
}
